﻿@model TakeaNote.UI.Models.LoginViewModel

@{
    ViewBag.Title = "Take a Note | Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>Take a Note</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>

<body class="bg-custom">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark navbar-dark-custom">
        <a class="navbar-brand mr-auto mr-lg-5" href="/Home/Index">Take a Note</a>
    </nav>

    <main class="container">

        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row mt-5">

                @{ Html.RenderPartial("Mensagens"); }

                <div class="form-horizontal col-md-4">
                    <div class="card shadow-lg">
                        <div class="card-body">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <div style="text-align: center;">
                                    <input type="submit" value="Acessar" class="btn btn-primary btn-block" />
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <div>
                                    <a href="@Url.Content("/Usuario/Cadastrar")">Cadastrar novo Usuário</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </main>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/util")

</body>
</html>



