﻿@model TakeaNote.UI.Models.CadastroFraseViewModel

@{
    ViewBag.Title = "Take a Note | Cadastro";
}

@using (Html.BeginForm("Cadastrar", "Frase", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="row mt-5">

        @{ Html.RenderPartial("Mensagens"); }

        <div class="form-horizontal col-md-10">

            <div class="form-group">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label " })
                <div>
                    @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Visualizacao, htmlAttributes: new { @class = "control-label " })
                <br />
                <div class="custom-control custom-radio custom-control-inline">
                    @Html.RadioButtonFor(model => model.Visualizacao, "P", new { @id = "rdbVisualizacaoPublica", @class = "custom-control-input", @checked = "checked" })
                    <label class="custom-control-label" for="rdbVisualizacaoPublica">Pública</label>
                </div>
                <br />
                <div class="custom-control custom-radio custom-control-inline">
                    @Html.RadioButtonFor(model => model.Visualizacao, "R", new { @id = "rdbVisualizacaoRestrita", @class = "custom-control-input" })
                    <label class="custom-control-label" for="rdbVisualizacaoRestrita">Restrita</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 ">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    <a href="@Url.Content("/Home/Index")" class="btn btn-outline-dark">Voltar</a>
                </div>
            </div>

            <label class="control-label">
                Associar com Categorias
            </label>

            @if (ViewBag.CategoriasCollection != null && ViewBag.CategoriasCollection.Count > 0)
            {
                foreach (var item in ViewBag.CategoriasCollection)
                {
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="@item.IdCategoria" type="checkbox" name="CategoriasSelecionadas" value="@item.IdCategoria" />
                        <label class="custom-control-label" for="@item.IdCategoria">@item.Nome</label>
                    </div>
                }
            }

        </div>
    </div>
}