﻿@using TakeaNote.Domain.DomainEntities

@{
    Usuario usuario = Session["USER_SESSION"] as Usuario;
    ViewBag.Title = "Take a Note | Consultar Frases";
    string corBadge = "";
}

@model IEnumerable<TakeaNote.UI.Models.ConsultaFraseViewModel>

<div class="row mt-5">

    @{ Html.RenderPartial("Mensagens"); }

    <div class="form-horizontal col-md-12 text-center">
        <a href="@Url.Action("Consultar", "Frase", new { id = 1 })" class="btn btn-sm btn-primary">Primeira</a>
        <a href="@Url.Action("Consultar", "Frase", new { id = ViewBag.PageNumber - 1 })" class="btn btn-sm btn-primary">Anterior</a>
        <a href="@Url.Action("Consultar", "Frase", new { id = ViewBag.PageNumber + 1 })" class="btn btn-sm btn-primary">Proxima</a>
        <a href="@Url.Action("Consultar", "Frase", new { id = ViewBag.TotalPaginas })" class="btn btn-sm btn-primary">última</a>
    </div>

    <br />
    <br />

    <div class="form-horizontal col-md-12">

        @foreach (var frase in Model)
        {
            if (frase.Visualizacao == "P")
            {
                corBadge = "alert-info";
            }
            else
            {
                corBadge = "alert-danger";
            }

            <div id="accordion">
                <div class="card shadow">
                    <div class="card-header bg-transparent" id="heading_@frase.IdFrase" style="padding-bottom:5px; padding-top:10px">
                        <h6 class="mb-0">
                            <btn class="btn btn-link text-primary text-dark" style="text-decoration:none" data-toggle="collapse" data-target="#linha_@frase.IdFrase" aria-expanded="true" aria-controls="linha_@frase.IdFrase">
                                @frase.Descricao
                            </btn>
                            <span class="badge badge-pill float-right @corBadge">
                                @frase.Visualizacao
                            </span>
                        </h6>
                    </div>

                    <div id="linha_@frase.IdFrase" class="collapse" aria-labelledby="heading_@frase.IdFrase" data-parent="#accordion">
                        <div class="card-body">
                            <span class="card-subtitle mb-2 text-muted">@frase.Autor</span>
                            <hr />

                            <div>
                                @foreach (var categoria in frase.ListaCategorias)
                                {
                                    <span class="badge badge-pill badge-dark">
                                        @categoria.Nome
                                    </span>
                                }
                            </div>
                            <hr />

                            <a href="@Url.Action("Editar", "Frase", new { id = frase.IdFrase })" class="btn btn-sm btn-primary">Editar</a>

                            @Html.ActionLink("Excluir", "Excluir",
                                new { id = frase.IdFrase },
                                new { onclick = "return confirm('Tem certeza que deseja excluir?')", @class = "btn btn-sm btn-dark" })
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
