﻿@using TakeaNote.Domain.DomainEntities

@{
    Usuario usuario = Session["USER_SESSION"] as Usuario;
}

@model TakeaNote.UI.Models.EdicaoFraseViewModel

@{
    ViewBag.Title = "Take a Note | Editar Frase";
}

@using (Html.BeginForm("Editar", "Frase", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="row mt-5">

        @{ Html.RenderPartial("Mensagens"); }

        <div class="form-horizontal col-md-10">

            <div class="form-group">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label " })
                <div class="">
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label " })
                <div class="">
                    @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Visualizacao, htmlAttributes: new { @class = "control-label " })
                <br />
                <div class="custom-control custom-radio custom-control-inline">
                    @Html.RadioButtonFor(model => model.Visualizacao, "P", new { @id = "rdbVisualizacaoPublica", @class = "custom-control-input" })
                    <label class="custom-control-label" for="rdbVisualizacaoPublica">Pública</label>
                </div>
                <br />
                <div class="custom-control custom-radio custom-control-inline">
                    @Html.RadioButtonFor(model => model.Visualizacao, "R", new { @id = "rdbVisualizacaoRestrita", @class = "custom-control-input" })
                    <label class="custom-control-label" for="rdbVisualizacaoRestrita">Restrita</label>
                </div>
                <br />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 ">
                    <input type="submit" value="Alterar" class="btn btn-primary" />
                    <a href="@Url.Content("/Home/Index")" class="btn btn-outline-dark">Voltar</a>
                </div>
            </div>

            <label class="control-label">
                Associar com Categorias
            </label>

            @if (Model.ListaCategorias != null && Model.ListaCategorias.Count > 0)
            {
                for (int i = 0; i < Model.ListaCategorias.Count; i++)
                {
                    <div class="custom-control custom-checkbox">

                        @Html.HiddenFor(model => Model.ListaCategorias[i].IdCategoria)
                        @Html.HiddenFor(model => Model.ListaCategorias[i].Nome)

                        @Html.CheckBoxFor(model => Model.ListaCategorias[i].Checked, new { id = Model.ListaCategorias[i].IdCategoria,
                            @class = "custom-control-input" })

                        <label class="custom-control-label" for="@Model.ListaCategorias[i].IdCategoria">@Model.ListaCategorias[i].Nome</label>

                    </div>
                }
            }
            else
            {
                <div class="alert alert-primary" role="alert">
                    Nenhuma Categoria cadastrada.
                </div>
            }

        </div>
    </div>
}