﻿
@{
    ViewBag.Title = "Take a Note | Gerenciar BD";
}

<div class="row mt-5">

    @{ Html.RenderPartial("Mensagens"); }

    <div class="form-horizontal col-md-5">

        <div class="card shadow">
            <div class="form-group card-body">
                <a href="@Url.Content("/DB/BackupDatabase")" class="btn btn-info btn-block">Backup Database</a>
            </div>
        </div>

        <br />

        <div class="card shadow">
            <div class="form-group card-body">
                <div class="" style="text-align: center;">
                    @using (Html.BeginForm("RestoreDatabase", "DB", FormMethod.Post, new { @id = "formIndex", @enctype = "multipart/form-data" }))
                    {
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-outline-info disabled">
                                    Arquivo <input disabled type="file" style="display: none;" accept=".json" id="file" name="file">
                                </span>
                            </label>
                            <span id="labelFile" class="form-control"></span>
                        </div>

                        <input type="submit" disabled class="btn btn-info btn-block" value="Restore Database" style="max-width:inherit">
                    }
                </div>
            </div>
        </div>

        <br />

        <div class="card shadow">
            <div class="form-group card-body">
                @*@Html.ActionLink("Delete Database", "DeleteDatabase", new { }, new { onclick = "return confirm('Tem certeza que deseja APAGAR o Banco de Dados?')", @class = "btn btn-danger btn-block" })*@

                @Html.ActionLink("Delete Database", "DeleteDatabase", new { }, new { onclick = "javascript:return false;", @class = "btn btn-danger btn-block disabled" })
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).on("change", ":file", function () {

        var input = $(this),
            label = input.val().replace(/\\/g, "/").replace(/.*\//, "");

        $("#labelFile").text(label);
    });
</script>


