﻿@using TakeaNote.Domain.DomainEntities

@{
    Usuario usuario = Session["USER_SESSION"] as Usuario;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>Take a Note</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>

<body class="bg-light">

    @if (usuario != null)
    {
        switch (usuario.Regra)
        {
            case "M":
                Html.RenderPartial("MenuMaster");
                break;

            case "A":
                Html.RenderPartial("MenuAdmin");
                break;

            case "U":
                Html.RenderPartial("MenuUsuario");
                break;

            case "C":
                Html.RenderPartial("MenuConvidado");
                break;
        }
    }
    else
    {
        Html.RenderPartial("Menu");

        FormsAuthentication.SignOut();
    }

    <main class="container">
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/util")
    @RenderSection("scripts", required: false)
</body>
</html>