﻿@{
    IList<string> mensagensErro = TempData["MENSAGEM_ERRO"] as IList<string>;
    IList<string> mensagensSucesso = TempData["MENSAGEM_SUCESSO"] as IList<string>;
}

@if (mensagensErro != null && mensagensErro.Count > 0)
{
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 0.5rem;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul>
                @foreach (string erro in mensagensErro)
                {
                    <li>
                        @erro
                    </li>
                }
            </ul>
        </div>
    </div>
}
else
{
    if (mensagensSucesso != null && mensagensSucesso.Count > 0)
    {
        <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 0.5rem;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul>
                    @foreach (string msg in mensagensSucesso)
                    {
                        <li>
                            @msg
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
}
