﻿@using TakeaNote.Domain.DomainEntities

@{
    Usuario usuario = Session["USER_SESSION"] as Usuario;
}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark navbar-dark-custom">
    <a class="navbar-brand mr-auto mr-lg-5" href="@Url.Content("/Home/Index")">Take a Note</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Frases</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="@Url.Content("/Frase/Consultar")">Consultar Frases</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="@Url.Content("/Categoria/Consultar")">Consultar Categorias</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-md-auto d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    @if (usuario != null)
                    {
                        <span class="text-white">@usuario.Login</span>
                    }
                    else
                    {
                        <span>Sistema</span>
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">

                    <a class="dropdown-item" href="@Url.Content("/DB/Index")">Gerenciar BD</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Content("/Usuario/Consultar")">Gerenciar Usuários</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Editar", "Usuario", new { id = usuario.IdUsuario })"> Atualizar Cadastro</a>
                    <a class="dropdown-item" href="@Url.Content("/Login/Logout")">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
