﻿<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark navbar-dark-custom">
    <a class="navbar-brand mr-auto mr-lg-5" href="@Url.Content("/Home/Index")">Take a Note</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    </div>
</nav>
