﻿@using TakeaNote.Domain.DomainEntities

@{
    Usuario usuario = Session["USER_SESSION"] as Usuario;
    ViewBag.Title = "Take a Note | Consultar Categorias";
    string corBadge = "";
}

@model IEnumerable<TakeaNote.UI.Models.ConsultaCategoriaViewModel>

<div class="row mt-5">

    @{ Html.RenderPartial("Mensagens"); }

    <div class="form-horizontal col-md-12">

        @foreach (var categoria in Model)
        {
            if (categoria.Visualizacao == "P")
            {
                corBadge = "alert-info";
            }
            else
            {
                corBadge = "alert-danger";
            }

            <div id="accordion">
                <div class="card shadow">
                    <div class="card-header bg-transparent" id="heading_@categoria.IdCategoria" style="padding-bottom:5px; padding-top:10px">
                        <h6 class="mb-0">
                            <btn class="btn btn-link text-dark" style="text-decoration:none" data-toggle="collapse" data-target="#linha_@categoria.IdCategoria" aria-expanded="true" aria-controls="linha_@categoria.IdCategoria">
                                @categoria.Nome
                            </btn>
                            <span class="badge badge-pill float-right @corBadge">
                                @categoria.Visualizacao
                            </span>
                        </h6>
                    </div>

                    <div id="linha_@categoria.IdCategoria" class="collapse" aria-labelledby="heading_@categoria.IdCategoria" data-parent="#accordion">
                        <div class="card-body">
                            <span class="card-subtitle mb-2 text-muted">@categoria.Descricao</span>
                            <hr />

                            <div>
                                <ul class="list-group">
                                    @foreach (var frase in categoria.ListaFrases)
                                    {
                                        <li class="list-group-item">
                                            @frase.Descricao
                                        </li>
                                    }
                                </ul>
                            </div>
                            <hr />

                            <a href="@Url.Action("Editar", "Categoria", new { id = categoria.IdCategoria })" class="btn btn-sm btn-primary">Editar</a>

                            @Html.ActionLink("Excluir", "Excluir",
                                new { id = categoria.IdCategoria },
                                new { onclick = "return confirm('Tem certeza que deseja excluir?')", @class = "btn btn-sm btn-dark" })
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
