﻿@model TakeaNote.UI.Models.CadastroUsuarioViewModel

@{
    ViewBag.Title = "Take a Note | Cadastro";
}

@using (Html.BeginForm("Cadastrar", "Usuario", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
<div class="row mt-5">

    @{ Html.RenderPartial("Mensagens"); }

    <div class="form-horizontal col-md-4 ">

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 ">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a href="@Url.Content("/Login/Index")" class="btn btn-outline-dark">Voltar</a>
            </div>
        </div>
    </div>
</div>
}