﻿@using TakeaNote.Domain.DomainEntities

@{
    Usuario usuario = Session["USER_SESSION"] as Usuario;
}

@model IEnumerable<TakeaNote.UI.Models.ConsultaUsuarioViewModel>

@{
    ViewBag.Title = "Take a Note | Gerenciar Usuários";
}

<div class="row mt-5">

    @{ Html.RenderPartial("Mensagens"); }

    <div class="table-responsive shadow">
        <table class="table table-hover">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Regra</th>
                    <th>Frases</th>
                    <th>Categorias</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdUsuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Regra)
                        </td>
                        <td>
                            <span class="badge badge-pill badge-dark">
                                @Html.DisplayFor(modelItem => item.TotalFrases)
                            </span>
                        </td>
                        <td>
                            <span class="badge badge-pill badge-dark">
                                @Html.DisplayFor(modelItem => item.TotalCategorias)
                            </span>
                        </td>
                        <td>
                            <a href="@Url.Action("Editar", "Usuario", new { id = item.IdUsuario })" class="btn btn-sm btn-primary">Editar</a>

                            @Html.ActionLink("Excluir", "Excluir",
                                new { id = item.IdUsuario },
                                new { onclick = "return confirm('Isto irá apagar todos as Frases e Categorias associadas a este Usuário. Tem certeza que deseja excluir?')", @class = "btn btn-sm btn-dark" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>