﻿@using TakeaNote.Domain.DomainEntities

@{
    Usuario usuario = Session["USER_SESSION"] as Usuario;
}

@model TakeaNote.UI.Models.EdicaoUsuarioViewModel

@{
    ViewBag.Title = "Take a Note | Editar Usuário";
}

@using (Html.BeginForm("Editar", "Usuario", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="row mt-5">

        @{ Html.RenderPartial("Mensagens"); }

        <div class="form-horizontal col-md-4 ">

            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label " })
                <div class="">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
                </div>
            </div>

            @if (usuario.Regra == "M")
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label " })
                    <div class="">
                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label " })
                    <div class="">
                        @Html.TextBoxFor(model => model.Login, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                <div class="">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SenhaAtual, htmlAttributes: new { @class = "control-label " })
                <div class="">
                    @Html.EditorFor(model => model.SenhaAtual, new { htmlAttributes = new { @class = "form-control", @type = "password", @Value = "", @placeholder = "Senha inalterada" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NovaSenha, htmlAttributes: new { @class = "control-label " })
                <div class="">
                    @Html.EditorFor(model => model.NovaSenha, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                </div>
            </div>

            @if (usuario.Regra == "M")
            {
                <div class="form-group">
                    <label>Regra</label>
                    <br />
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(model => model.Regra, "C", new { @id = "rdbRegraConvidado", @class = "custom-control-input" })
                        <label class="custom-control-label" for="rdbRegraConvidado">Convidado</label>
                    </div>
                    <br />
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(model => model.Regra, "U", new { @id = "rdbRegraUsuario", @class = "custom-control-input" })
                        <label class="custom-control-label" for="rdbRegraUsuario">Usuário</label>
                    </div>
                    <br />
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(model => model.Regra, "A", new { @id = "rdbRegraAdministrador", @class = "custom-control-input" })
                        <label class="custom-control-label" for="rdbRegraAdministrador">Administrador</label>
                    </div>
                    <br />
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(model => model.Regra, "M", new { @id = "rdbRegraMaster", @class = "custom-control-input" })
                        <label class="custom-control-label" for="rdbRegraMaster">Master</label>
                    </div>
                </div>
            }

            <div class="form-group">
                <div>
                    <input type="submit" value="Alterar" class="btn btn-primary" />
                    <a href="@Url.Content("/Usuario/Consultar")" class="btn btn-outline-dark">Voltar</a>
                </div>
            </div>
        </div>
    </div>
}